.marker {
    width: 24px;
    height: 24px;
    padding: 5px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: absolute;
    top: 2px;
    z-index: 10;
    background: #fff;
    color: #555;
    text-align: center;
}

.selected-version{
    background: #ccc;
}
